@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  margin: 4rem 0 0 7.7rem;
}

.header__title {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 2.4rem;
  color: #333333;
}

.hero__wrapper {
  display: flex;
}

.hero__imageWrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__contentWrapper {
  width: 50%;
}

.hero__title {
  font-size: 6.4rem;
  font-weight: bold;
  font-family: "Space Mono", monospace;
}

.hero__paragraph {
  font-family: "Space Mono", monospace;
  line-height: 3.55rem;
  font-size: 2.4rem;
  margin-bottom: 6.4rem;
}

.hero__button {
  height: 68px;
  width: 216px;
  background-color: #333333;
  font-family: "Space Mono", monospace;
  color: #ffffff;
  font-size: 1.4rem;
  border: none;
  transition: all 0.25s ease;
}

.hero__button:hover {
  cursor: pointer;
  background-color: #3e3e3e;
}

.hero__button:active {
  transform: scale(0.9);
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  margin: 0 0 2.4rem 0;
}

.footer__text {
  color: #bdbdbd;
  font-size: 1.4rem;
  font-family: "Space Mono", monospace;
}

/*------------Responsive 1000Px to 375Px------------*/

@media (max-width: 1000px) {
  .hero__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .header {
    margin-left: 0;
  }

  .hero__imageWrapper {
    width: 100%;
    height: 200px;
  }

  .hero__imageWrapper img {
    transform: scale(0.6);
  }

  .hero__contentWrapper {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    padding: 0 2.5rem;
  }

  .hero__button {
    align-self: center;
  }

  .footer {
    margin-top: 1rem;
  }
}
